img {
    object-fit: cover;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1F2937;
    font-size: 12px;
}

.header-wrapper {
    display: flex;
    width: 850px;
    justify-content: space-between;
    align-items: center;
}

.right-links {
    display: flex;
    gap: 16px;
    padding: 16px;
    flex-shrink: 0;
}

a {
    text-decoration: none;
}

a,
.header {
    color: #e5e7eb;
}

.header-logo {
    font-weight: 900;
    font-size: 18px;
}

.main-content {
    background-color: #1F2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    gap: 78px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-top: 100px;
}

.website-img {
    width: 400px;
}

.main-content-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    max-width: 400px;
}

h1,
h2 {
    font-size: 48px;
    margin: 0;    
}

.signup-button {
    background-color: #3882F6;
    color: #e5e7eb;
    padding: 12px 30px 12px 30px;
    border-radius: 12px;
    font-weight: 900;
    font-size: 18px;
}

.information-title { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 56px;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
    align-content: center;
    padding: 125px;
    padding-top: 0;
}

.info-img {
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-text {
    text-align: center;
    width: 150px;
    padding-top: 20px;
    font-style: italic;
    font-size: 16px;
}

.quote-section {
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    padding: 150px;
    justify-content: center;
    align-items: center;
}

.main-quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 800px;
}

.author-quote {
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
    font-size: 26px;
}

.newsletter-sector {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

.product-signup {
    display: flex;
    background-color: #3882F6;
    padding: 50px;
    border-radius: 12px;
    color: #e5e7eb;
    gap: 100px;
}

.signup-button#product {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: 2px solid #e5e7eb
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.action {
    font-weight: 900;
    font-size: 18px;
}

.footer {
    background-color: #1F2937;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
}